@{
	Layout = "_BaseLayout";
	ViewData["Title"] = "Потвърден имейл";
}

<div class="row">
	<div class="col-md-6 offset-md-2">
		<h1>@ViewData["Title"].</h1>
		<p>
			Благодарим Ви за потвърждаването на имейла. Моля <a asp-controller="Account" asp-action="Login">кликнете тук за вход</a>.
		</p>
	</div>
</div>