@{
	Layout = "_Layout";
	ViewData["Title"] = "Забравена парола";
}

<div class="row">
	<div class="col-md-6 offset-md-2">
		<h1>@ViewData["Title"].</h1>
		<p>
			Моля, проверете своя имейл за да обновите паролата.
		</p>
	</div>
</div>
