@{
	Layout = "_Layout";
	ViewData["Title"] = "Потвърдено нулиране на парола";
}

<div class="row">
	<div class="col-md-6 offset-md-2">
		<h1>@ViewData["Title"].</h1>
		<p>
			Вашата парола беше нулирана. Моля <a asp-controller="Account" asp-action="Login">кликнете тук за вход</a>.
		</p>
	</div>
</div>
